<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/d87601da74.js" crossorigin="anonymous"></script>
    <link href="css/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="headerContenedor">
            <div class="logoContenedor">
                <img src="img/logoPalabra.png" alt="logoNiza">
            </div>
            <div class="divIzquierdo">
                <ul type="none">
                    <li>Productos</li>
                    <li>Iniciar sesion</li>
                    <li>Registrarse</li>
                </ul>
            </div>
            <div class="divDerecho">
                <div class="busqueda">
                    <input type="text" class="buscar_texto" placeholder="Buscar">
                    <a href=# class="boton">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
                <div class="carrito">
                    <img src="img/bolsaCarrito.png">
                </div>
            </div>
        </div>
    </header>
    <main>

    </main>
    <footer class="footer">
        <div class="footerContenedor">
            <div class="rowFoot">
                <div class="columnaFoot">
                    <h4>Companía</h4>
                    <ul>
                        <li> <a href="#">Sobre nosotros</a></li> <!-- aca pueden ir: objetivos, que ofrecemos, historia -->
                        <li> <a href="#">Preguntas frecuentes</a></li>
                        <li> <a href="#">Opciones de pago</a></li>
                        <li> <a href="#">Devoluciones</a></li>
                    </ul>
                </div>
                <div class="columnaFoot">
                    <h4>Contactanos</h4>
                    <ul>
                        <li> <a href="muucs@gmail.com">muucs@gmail.com</a></li>
                        <li> <a href="+543415683519">+54 341 5683519</a></li>
                        <li> <a href="https://goo.gl/maps/94s7kUzK62b3Ta5Z7">Junín 191,Rosario, Santa Fe</a></li>
                    </ul>
                </div>
                <div class="columnaFoot">
                    <h4>Redes sociales</h4>
                    <div class="link-redes">
                        <a href="#"><iF class="fab fa-facebook-f"></i></a>
                        <a href="#"><iF class="fab fa-twitter"></i></a>
                        <a href="#"><iF class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>